body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 2000px; /* Increase height for scrolling */
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff0055;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    display: none; /* Hide by default */
    z-index: 1000;
}

.scrollToTopBtn:hover {
    background-color: #0056b3;
}
